body {
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.vertical-center {
  display: flex;
  min-height: 100%;
  min-height: 90vh;
  align-items: center;
}

#particles-js {
  top: 0px;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #000000;
  background-size: cover;
  z-index: -1000;
}

#content {
  height: auto;
  width: 25em;
  padding-top: 2em;
  padding-bottom: 1em;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 100px;
  background-color: rgba(25, 25, 25, 0.6);
}

.me{
  border-bottom: 1px solid white;
  margin-bottom: 1em;
}

.me h1 {
  padding-top: 7px;
  color: #eaeaea;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.me img {
  border: 3px;
  border-style: solid;
  border-color: black;
  border-color: #bcbcbc;
  border-radius: 20%;
}

.about img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.about img:hover {
    transform: scale(1.2);
}

#button_hideshow {
  margin-top: 4px;
  margin-left: 5px;
  padding-top: 2px;
  padding-bottom: 3px;
  color: rgba(200, 200, 200, 1);
  border: solid;
  border-radius: 4px;
  border-width: thin;
  border-color: rgba(80, 80, 80, 0.6);
  background-color: rgba(80, 80, 80, 0.6);
}

#button_hideshow:hover {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(150, 150, 150, 1);
  background-color: rgba(70, 70, 70, 0.6);
}
